*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dongle', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}

header{
    background-color: #ef233c;
    color: white;
    display: flex;
}

.logo{
    width: 40%;
   padding-left: 100px;
   padding-top: 10px;
   padding-bottom: 10px;
}


.nav-link{
    width: 40%;
    display: flex;
   
    align-items: center;
   
}

.nav-link ul{
    display: flex;
    list-style: none;
    
}


li a{
    text-decoration: none;

    padding: 0 30px;
    color: white;
    font-weight: 700;
    
    
}

li a:hover{
    color: black;

}

.btn-1{
    text-decoration: none;
    color: white;
    background-color: black;
    text-align: center;
    align-items: center;
    padding: 10px 40px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-1:hover{

    background-color: white;
    color: black;
}